################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/app/v15
/app/bin/Debug/netcoreapp2.2
/app/obj
